@model SMS.AppCore.DTOs.SubjectViewModel

@{
    ViewBag.Title = "Master Files";
    ViewBag.pTitle = "Subject Master";
    ViewBag.pageTitle = "Subject Master";
    ViewData["Title"] = "Subject Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body border-bottom">
                <div class="d-flex align-items-center">
                    <h5 class="mb-0 card-title flex-grow-1">Subject Master</h5>
                    <div class="flex-shrink-0">
                        <a href="#subjectModal" data-bs-toggle="modal" data-action="create" class="btn btn-primary">Add New Subject</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="datatable" class="table table-bordered dt-responsive nowrap w-100">
                    <thead class="table-light">
                        <tr>
                            <th>Subject Name</th>
                            <th>Last Updated Date</th>
                            <th>Is Elective</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var subject in Model.Subjects)
                        {
                            <tr>
                                <td>@subject.SubjectName</td>
                                <td>@subject.EnteredDate.ToString("D")</td>
                                <td>@subject.IsElective</td>
                                <td>@subject.StatusText</td>
                                <td>
                                    <a id="btnEdit" data-subject-id="@subject.Id" data-subject-name="@subject.SubjectName" data-subject-status="@subject.Status" data-IsElective="@subject.IsElective" class="text-success edit-list edit-list"><i class="mdi mdi-pencil font-size-18"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@* Role Modal *@
<div class="modal fade" id="subjectModal" tabindex="-1" aria-labelledby="subjectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="roleModalLabel">Add/Edit Subject</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="classForm" asp-controller="Master" asp-action="SaveSubject" method="post">
                    <input type="hidden" id="subjectId" asp-for="Subject.Id" />
                    <div class="mb-3">
                        <label for="subjectName" class="form-label">Subject Name</label>
                        <input type="text" id="subjectName" name="Subject.SubjectName" asp-for="Subject.SubjectName" class="form-control" required placeholder="Enter Subject (Eg: Science)" />
                    </div>
                    <div class="mb-3">
                        <label for="IsElective" class="form-label">Is Elective</label>
                        <input type="checkbox" class="form-check" asp-for="Subject.IsElective" id="iselective" required/>
                    </div>
                    <div class="mb-3">
                        <label for="roleName" class="form-label">Status</label>
                        <select asp-for="Subject.Status" class="form-select" id="statuselect" required>
                            <option value="True">Active</option>
                            <option value="False">Inactive</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/js/pages/datatables.init.js"></script>

    <script src="~/assets/js/SubjectMaster.js"></script>
    <script src="~/assets/js/app.js"></script>

    <script src="~/assets/js/pages/bootstrap-toastr.init.js"></script>
    <script>
        console.log("Toasy");
        $(document).ready(function () {
            if ('@TempData["Toast"]') {
                var toastElement = new bootstrap.Toast(document.getElementById('liveToast'));
                toastElement.show();
            }
        });
    </script>
}